{{/* One stylesheet for the whole site. main.scss imports the section styles in
     cascade order; cv-page, books and tags come after it, as before. */}}
{{ $sheets := slice (resources.Get "css/main.scss" | css.Sass) }}
{{ $sheets = $sheets | append (resources.Get "css/cv-page.scss" | css.Sass) }}
{{ with site.Params.books }}{{ if and .items (ne .enable false) }}
  {{ $sheets = $sheets | append (resources.Get "css/books.scss" | css.Sass) }}
{{ end }}{{ end }}
{{ $sheets = $sheets | append (resources.Get "css/tags.scss" | css.Sass) }}
{{ $style := $sheets | resources.Concat "css/site.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
