{{ define "main" }}
{{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
  <article class="post">
    <div class="single-post-container">
      <div class="container-fluid px-3 px-lg-4">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-10 col-xl-9">
            <h1 class="single-post-title">{{ .Title }}</h1>
            <div class="single-post-meta">
              <p>By {{ .Params.authors }} on {{ .Date.Format "January 2, 2006" }}. Reading time: {{ math.Floor (div $readTime 60) }} minutes 
                and {{ mod $readTime 60 }} seconds. </p>
            </div>
            <div class="single-post-content">
              {{ with .Resources.Get .Params.image }}
              <div class="image-container text-center" style="padding: 20px;">
                <img class="img-fluid mb-4" src="{{ .RelPermalink }}" alt="{{ $.Title }}" style="max-width: 100%; height: auto; display: inline-block;">
              </div>
              {{ end }}
              
              {{ .Content }}
            </div>
            
            <!-- Add sharing buttons -->
            {{ partial "share-buttons.html" . }}
            
            <footer class="post-footer">
              {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
            </footer>
          </div>
        </div>
      </div>
    </div>
  </article>
{{ end }}
