{{ define "main" }}
  <section class="projects-section">
    <div class="search-container" id="searchContainer">
      <div class="search-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </div>
      <div class="search-input-container">
        <input type="text" id="searchInput" placeholder="Search posts..." class="search-input">
      </div>
    </div>
    <div class="list-container" id="postsList">
      {{ range .Pages.ByDate.Reverse }}
        {{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
        <div class="container-link" data-href="{{ .RelPermalink }}" data-title="{{ .Title }}" data-description="{{ .Params.description }}" data-content="{{ .Summary }}">
          <div class="full-width-container">
            {{ if .Params.image }}
            <div class="image-side">
              {{ if eq .File.Dir "projects/" }}
                <img src="../projects/{{ .Params.image }}" alt="{{ .Title }}" width="300" height="250">
              {{ else }}
                <img src="{{ .RelPermalink }}{{ .Params.image }}" alt="{{ .Title }}" width="300" height="250">
              {{ end }}
            </div>
            {{ end }}
            <div class="text-side">
              <h3>{{ .Title }}</h3>
              <p class="description">Reading time: {{ math.Floor (div $readTime 60) }} minutes and {{ mod $readTime 60 }} seconds</p>
              <hr class="post-divider">
              <div class="content-preview">{{ .Summary | markdownify }}</div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }} 